<div class="discussion">
  <div class="question">
    <p class ="label">Question:&nbsp;</p>
    <p><%= @question %></p>
  </div>
  <div class="answser">
    <p class ="label">Answer:&nbsp;</p>
    <p><%= @answer %></p>
  </div>
</div>
<div class="back">
  <%= link_to "Ask a new question", ask_path %>
</div>

